<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          </i> Reset Password
        </h1>
        <%- include ('./partials/messages') %>
        <form action="/users/new-password" method="POST">
          <div class="form-group">
            <label for="password">New Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              autocomplete="off"
              placeholder="Enter Password"
            />
          </div>
          <input type="hidden" name="userId" value="<%= userId %> " />
          <input type="hidden" name="passwordToken" value="<%= passwordToken %> " />
          <button type="submit" class="btn btn-primary btn-block">
            Confirm Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
