<h1 class="text-center mt-4 mb-4">Edit <%= article.title %></h1>
<form action="/articles/<%= article.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
</form>
<script src="/js/simplemde.min.js"></script>
<script src="/js/editor.js"></script>
