<h1 class="text-center mt-4 mb-4">Create New Blog Post</h1>

<form action="/articles" method="POST">
  <%- include('_form_fields') %>
</form>

<script src="/js/simplemde.min.js"></script>
<script src="/js/editor.js"></script>
