body {
  font-family: 'Quicksand', sans-serif;
}
.user {
  color: rgb(233, 85, 66);
  font-size: 17px;
}

nav {
  padding: 5px !important;
}
.navbar-brand img {
  height: 50px;
  width: 50px;
}
.user-icon {
  background-color: white;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  cursor: pointer;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
}
.user-icon a {
  color: red;
  text-transform: uppercase;
}
.article-title {
  color: grey;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
}
.article-body {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}
.user a {
  color: rgb(233, 85, 66);
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.container img {
  height: 40%;
  width: 50%;
}

/* 404 page design */

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.error__code {
  font-size: 16rem;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  /* background: url(Error.jpg) center no-repeat; */
  color: rgb(240, 107, 30);
}

.error__message {
  font-size: 23px;
}

.error__back {
  text-decoration: none;
  background: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container .error__back:hover {
  background: #e55039;
}

blockquote {
  background-color: #e4e0e0;
  border-left: 4px solid #646567;
  padding: 10px;
}
